<!DOCTYPE html>
<html>

<head>
    <meta name="pypi:repository-version" content="1.1">
    <title>Links for {{ package }}</title>
</head>

<body>
    <h1>Links for {{ package }}</h1>
    {% for pvf in package_version_filenamess -%}
        <a href="{{ pvf.cached_url }}#sha256={{ pvf.sha256_hash }}" data-requires-python="{{ pvf.python_requires | escape }}" >{{ pvf.filename }}</a><br />
    {% endfor %}
</body>

</html>