name: Build and Push

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  get-version:
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.get-version-step.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false

      - name: Get Version Number
        id: get-version-step
        run: echo "version=$(uv version --short)" >> "$GITHUB_OUTPUT"

  build:
    needs: get-version

    permissions:
      contents: read
      packages: write

    uses: NathanVaughn/reusable-actions/.github/workflows/docker-build-push.yml@main
    with:
      attest_id: image1
      platform: linux/amd64
      tags: |
        ghcr.io/nathanvaughn/mypypi2:${{ needs.get-version.outputs.version }}
        ghcr.io/nathanvaughn/mypypi2:latest
        docker.io/nathanvaughn/mypypi2:${{ needs.get-version.outputs.version }}
        docker.io/nathanvaughn/mypypi2:latest
      dockerfile: docker/Dockerfile
      context: .
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}

  attest:
    needs: build

    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write

    strategy:
      matrix:
        name: [ghcr.io/nathanvaughn/mypypi2, docker.io/nathanvaughn/mypypi2]

    uses: NathanVaughn/reusable-actions/.github/workflows/docker-attest.yml@main
    with:
      name: ${{ matrix.name }}
      attest_id: image1
